.Weather {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.Weather h1 {
  margin-bottom: 0px;
  text-transform: capitalize;
}

.Weather .border {
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.Weather .btn-dark {
  margin-left: 5px;
}

.Weather .btn-secondary {
  margin-left: 5px;
}

.Weather .col {
  text-align: center;
}

.Weather .col-2 {
  text-align: center;
}

.Weather .col-sm {
  text-align: center;
}

.Weather .currentTemp {
  font-size: 36px;
  font-weight: bold;
}

.Weather .fa-solid {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Weather .forecastTempHigh {
  font-weight: bold;
}

.Weather .form-inline {
  display: flex;
}

.Weather .high-low-text {
  color: grey;
  font-size: 12px;
}

.Weather .iconStyle {
  width: 100px;
}

.Weather .info-text-1 {
  display: block;
  margin: auto;
  margin-bottom: 3px;
  max-width: 400px;
  font-weight: bold;
}

.Weather .info-text-1:first-letter {
  text-transform: capitalize;
}

.Weather .info-text-2 {
  font-size: 12px;
  display: block;
  margin: auto;
  max-width: 400px;
  color: grey;
}

.Weather .inner-edge {
  margin-top: 20px;
}

.Weather .light-text {
  color: grey;
}

.Weather .outer-edge {
  margin-top: 20px;
  border: dashed 1px lightgray;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
}

.Weather .small-icon {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.Weather .sub-text {
  position: relative;
  top: -5px;
}

.Weather .temperatures {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: grey;
}

.Weather .units {
  color: grey;
  font-size: 12px;
  text-decoration: none;
  cursor: default;
}

.Weather .units:hover {
  color: black;
  text-decoration: underline;
}

.Weather .updateInfo {
  font-size: 12px;
  color: grey;
}
