.Weather {
  text-align: center;
}

body {
  font-family: "Rajdhani", sans-serif;
}

h1 {
  margin-bottom: 0px;
}

.border {
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-dark {
  margin-left: 5px;
}

.btn-secondary {
  margin-left: 5px;
}

.col {
  text-align: center;
}

.col-2 {
  text-align: center;
}

.col-sm {
  text-align: center;
}

.currentTemp {
  font-size: 36px;
  font-weight: bold;
}

.fa-solid {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forecastTempHigh {
  font-weight: bold;
}

.form-inline {
  display: flex;
}

.high-low-text {
  color: grey;
  font-size: 12px;
}

.iconStyle {
  width: 100px;
}

.info-text-1 {
  display: block;
  margin: auto;
  margin-bottom: 3px;
  max-width: 400px;
  font-weight: bold;
}

.info-text-1:first-letter {
  text-transform: capitalize;
}

.info-text-2 {
  font-size: 12px;
  display: block;
  margin: auto;
  max-width: 400px;
  color: grey;
}

.inner-edge {
  margin-top: 20px;
}

.light-text {
  color: grey;
}

.outer-edge {
  margin-top: 20px;
  border: dashed 1px lightgray;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
}

.small-icon {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sub-text {
  position: relative;
  top: -5px;
}

.temperatures {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: grey;
}

.units {
  color: grey;
  font-size: 12px;
  text-decoration: none;
  cursor: default;
}

.units:hover {
  color: black;
  text-decoration: underline;
}

.updateInfo {
  font-size: 12px;
  color: grey;
}
